/.idea/
/src/WebApp/.idea/
/test/WebApp.Tests/.idea/

/src/WebApp/bin/
/test/WebApp.Tests/bin/

/src/WebApp/obj/
/test/WebApp.Tests/obj/

/src/WebApp/.vscode/
/test/WebApp.Tests/.vscode/

/src/WebApp/database.db-shm
/src/WebApp/database.db-wal