@page

@{
    ViewData["Title"] = "Change password";
}

<head>
    <link rel="stylesheet" href="~/css/Zelfhulpgroepen.css" />
</head>

<style>
    .titel {
        border-right: solid 10px rgb(164, 223, 170)!important;
        padding-right: 25px!important;
    }
</style>



<main>
       
    <section>
        <div class="container">
            <div class="d-flex flex-row  align-items-center mt-5 mx-2">
                <h2 class="title-beheer">Beheer</h2>
                <p class="subtitle">Zelfhulpgroepen</p>
            </div>
            <hr>
        </div>
    </section>

    <section class="table">
        <div class="container">
            <table class="table table-sm-responsive table-hover">
                <thead>
                  <tr>
                    <th scope="col">Naam</th>
                    <th scope="col">Chat Frequentie</th>
                    <th scope="col">Leden</th>
                    <th scope="col">Gemaakt door</th>
                    <th scope="col">Aangemaakte datum</th>     
                    <th scope="col">Acties</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Englisch Kid</td>
                    <td>1244</td>
                    <td>24</td>
                    <td>S. Wali</td>
                    <td>15-01-2022</td>
                    <td>
                        <a href="#">Read</a> -
                        <a href="#">Edit</a> -
                        <a href="#">Delete</a>
                    </td>
                  </tr>

                  <tr>
                    <td>Englisch Kid</td>
                    <td>1244</td>
                    <td>24</td>
                    <td>S. Wali</td>
                    <td>15-01-2022</td>
                    <td>
                        <a href="#">Read</a> -
                        <a href="#">Edit</a> -
                        <a href="#">Delete</a>
                    </td>
                  </tr>
                  
                  <tr>
                    <td>Englisch Kid</td>
                    <td>1244</td>
                    <td>24</td>
                    <td>S. Wali</td>
                    <td>15-01-2022</td>
                    <td>
                        <a href="#">Read</a> -
                        <a href="#">Edit</a> -
                        <a href="#">Delete</a>
                    </td>
                  </tr>
                  
                  <tr>
                    <td>Englisch Kid</td>
                    <td>1244</td>
                    <td>24</td>
                    <td>S. Wali</td>
                    <td>15-01-2022</td>
                    <td>
                        <a href="#">Read</a> -
                        <a href="#">Edit</a> -
                        <a href="#">Delete</a>
                    </td>
                  </tr>
                  
                  <tr>
                    <td>Englisch Kid</td>
                    <td>1244</td>
                    <td>24</td>
                    <td>S. Wali</td>
                    <td>15-01-2022</td>
                    <td>
                        <a href="#">Read</a> -
                        <a href="#">Edit</a> -
                        <a href="#">Delete</a>
                    </td>
                  </tr>
                  
                  <tr>
                    <td>Englisch Kid</td>
                    <td>1244</td>
                    <td>24</td>
                    <td>S. Wali</td>
                    <td>15-01-2022</td>
                    <td>
                        <a href="#">Read</a> -
                        <a href="#">Edit</a> -
                        <a href="#">Delete</a>
                    </td>
                  </tr>
          

                </tbody>
              </table>
        </div>
    </section>
   
    
    
</main>
        </div>

    </section>

