


<link rel="stylesheet" href="~/css/Zelfhulpgroepen.css">

<section>
    <div class="container">
        <div class="d-flex flex-row  align-items-center mt-5 mx-2">
            <h2 class="subtitle">Algemene voorwaarden</h2>
        </div>
        <hr>
    </div>
</section>

<section>
    <div class="container">
        <embed src="~/Algemene voorwaarden.pdf" type="" width="1116px" height="900">
    </div>
</section>