
<link rel="stylesheet" href="~/css/Zelfhulpgroepen.css">

<section>
    <div class="container">
        <div class="d-flex flex-row  align-items-center mt-5 mx-2">
            <h2 class="subtitle">Extra informatie</h2>
        </div>
        <hr>
    </div>
</section>

<section class="mt-5">
    <div class="container w-75">
        
        <h5>Het eerste gesprek</h5>
        <p>
            Je hebt je misschien al afgevraagd hoe je je moet voorbereiden op het eerste gesprek. Het intakegeprek is vrijblijvend en kosteloos.
            Tijdens dit gesprek bespreken we de hulpvraag en de mogelijkheden binnen ZMDH. Daarnaast wordt er gekeken wat de kosten zijn van het traject en de mogelijkheid
            tot vergoeding bij de zorgverzekering. Het intakegesprek duurt maximaal 50 minuten en vindt op onze praktijk locatie in Den Haag.
            Bij dit intakegesprek is het prettig wanneer beide ouder(s)/verzorger(s) aanwezig zijn. Wanneer de wens is om te starten bij ZMDH zal er een behandelaar toegewezen worden.
            Deze behandelaar blijft het gehele traject betrokken en is het contactpersoon van het gezin.
        </p>
<br>
        <h5>Aanmelden</h5>
        <p>
            Aanmelden kan online via de website. Vul het aanmeldingsformulier zorgvuldig in en beantwoord daarin de vragen zo uitgebreid mogelijk. 
            Indien nodig kunt u ons de verwijzing doorsturen van je huisarts. Als je jonger bent dan 16 jaar is het noodzakelijk dat je wordt aangemeld door een ouder/voogd. 
            Ben je ouder dan 16 jaar? Dan is het mogelijk om je zelfstandig aan te melden.
            Na de aanmelding word je uitgenodigd voor een intakegesprek waarbij je een account krijgt om bij ons in te loggen.
        </p>
        <br>
        <h5>Hoe kan ik chatten met mijn hulpverlener?</h5>
        <p>
            Als je een traject doorloopt bij ons, dan is het mogelijk om te chatten met je eigen hulpverlener. Dit kan gemakkelijk via de website. 
            Je ouder/voogd heeft geen toegang tot deze chats, behalve als je jonger bent dan 16 jaar. Dan is het mogelijk voor de ouder/voogd om te zien met wie je een chat open hebt staan. 
        </p>
        <br>
        <h5>Hoe kan ik deelnemen aan de groepchat?</h5>
        <p>
            Jongeren in zelfhulpgroepen kunnen na aanmelding chatten met de overige groepsleden.
            De hulpverleners maken voor jullie zelfhulpgroepen aan met een tijdslot. Jij kan dan zoeken in de zelfhulpgroepen op leeftijd en onderwerp en ook kan je een lijst met de deelnemers zien. Als je jonger bent dan 16 jaar, wordt eerst toestemming gevraag bij je ouders, voordat je wordt toegelaten. Ben je ouder dan 16 jaar dan krijg je automatisch toegang.
        </p>

    </div>
</section>