@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="">

<!-- head info -->
       <section class="p-5 pt-0 text-center text-sm-start info">
         <div class="container container-one">
             <div class="d-sm-flex align-items-center justify-content-between">
                 <div class="text-one m-5">
                     <div class="d-flex flex-row titles">
                         <h2 class="logo">ZMDH</h2>
                         <h2 class="green-border mx-3 title-left">Wie zijn wij?</h2>
                     </div>
                     <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. <br>
                         Nostrum incidunt laborum hic perferendis iusto, 
                         illum repellat <br> sequi excepturi impedit! Minima at iure totam sit voluptates <br> nemo dolores illum cum consequuntur quo beatae adipisci enim <br> quis facere, 
                         veritatis reprehenderit nulla sapiente dicta aliquam voluptatibus earum! Laboriosam aut dolores expedita porro consequatur.</p>
                         <button class="btn btn-light btn-lg">Inschrijven</button>
                 </div>
                 <div class="img d-flex">
                     <img id="firstimg" class="img-fluid d-none d-md-block" src="medical-g44a3384bc_1280.png" alt="logo">
                 </div>
             </div>
         </div>
     </section>
 
 
     <!--Training& Activiteiten info-->
 
     <section class="p-5 pt-0 text-md-start text-center">
         <div class="container container-two timeline">
             <div class="d-md-flex flex-row justify-content-between">
                 <div class="col-md-6">
                      <div class="text-two">
                          <h2 class="title-left">Training & Activiteiten</h2>
                          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>
                              Fuga tenetur pariatur repellendus ratione recusandae libero <br> cumque iure suscipit quam cum reprehenderit omnis, 
                              molestias dolor at consequuntur? <br> Nisi libero cum alias officiis perspiciatis delectus et commodi, <br>
                              unde quas distinctio inventore quam voluptate minima corrupti odio molestiae <br> est totam consequatur ipsum magni molestias nulla illo? 
                              </p>
                              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. <br> Dolore quod perferendis aliquid exercitationem, consequuntur ea?</p>
                      </div>
                 </div>
                 <div class="col-md-6">
                     <img src="fear-g3c532b562_1280.png" id="secondimg" class="img-fluid w-75 fear" alt="persoon met angst">
                 </div>
             </div>
         </div>
     </section>
 
     <!--Specialisten-->
 
     <section class="p-5 pt-0 text-center">
         <div class="container container-three timeline">
             <div id="spec-title" class="d-md-flex pt-5">
                 <h2 class="title-left">Specialisten</h2>
             </div>
             <div class="d-md-flex flex-row justify-content-between spec m-5  pb-5">
                 <div>
                     <img id="spec" src="11.jpg" alt="afbeelding orthopedagoog S.Ipsum">
                     <h5>S. Ipsum</h5>
                     <p>15 jaar ervaring als specialist <br> orthopedagoog ontwikkelaar</p>
                 </div>
                 <div>
                     <img id="spec" src="52.jpg" alt="afbeelding orthopedagoog A. Leerry">
                     <h5>A. Leerry</h5>
                     <p>Ontwikkelings specialist</p>
                 </div>
                 <div>
                     <img id="spec" src="65.jpg" alt="afbeelding orthopedagoog M. Jong">
                     <h5>M. Jong</h5>
                     <p>Medische hulpverlener <br> -- EHBO Specialist</p>
                 </div>
                 <div>
                     <img id="spec" src="83.jpg" alt="afbeelding orthopedagoog S.V. Adelaar">
                     <h5>S.V. Adelaar</h5>
                     <p>5 jaar ervaging <br> als specialist orthopedagoog trainer</p>
                 </div>
             </div>
         </div>
     </section>
 
     
     <!--Inschrijven info -->
    
     <section class="px-5 text-md-start text-center">
         <div class="container container-four timeline">
             <div class="d-md-flex flex-row justify-content-between">
                 <div id="inschrijven" class="col-md-6 d-flex flex-column">
                      <div>
                          <h2 class="title-left">Je kind inschrijven</h2>
                          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, cumque hic modi voluptas facere in nostrum. Saepe, eos ratione error deserunt maxime enim provident illo? Magni officiis, maxime ducimus, quos dolor sed dolore atque quis inventore voluptatum placeat mollitia, consectetur delectus. Dicta distinctio enim ratione iusto perspiciatis? Est, quae dignissimos!</p>
                      </div>
                 </div>
                 <div id="bezoeken" class="col-md-6 ">
                     <h2 class="title-right">De praktijk bezoeken</h2>
                     <div class="d-md-flex flex-row justify-content-between">
                         <img src="female-client-visitor-talking-with-receptionist-desk-speech-bubble-laptop-flat-vector-illustration-service-communication_74855-13068.webp" class="img-fluid w-50 fear" alt="persoon met angst">
 
                         <div id="tijden" class="text-center">
                             <p class="mb-1">Tijden voor een bezoek </p>
                                 <p> MA 12:00 | 18:00 <br>
                                     DI 12:00 | 18:00 <br>
                                     WO 12:00 | 18:00 <br>
                                     DO 12:00 | 18:00 <br>
                                     VR 12:00 | 18:00 <br>
                                     Za 12:00 | 18:00 <br>
                                     Zo Gesloten</p>
                         </div>
                     </div>
                    
 
                 </div>
             </div>
         </div>
   </section>
 
 
       
   