

<link rel="stylesheet" href="~/css/Zelfhulpgroepen.css">

<section>
    <div class="container">
        <div class="d-flex flex-row  align-items-center mt-5 mx-2">
            <h2 class="subtitle">Suggestie of klacht?</h2>
        </div>
        <hr>
    </div>
</section>

<section class="">
    <div class="container w-75">
        <h5>Suggestie</h5>
        <p>Wij bij ZMDH doen iedere dag onze uiterste best om u en uw kind zo goed mogelijk te begeleiden bij ons. <br> Feedback is dan ook een belangrijk punt om dit nog vele jaren te kunnen doen.
            Heeft u een suggestie voor verbetering, dan horen wij dat graag. Het geeft ons de kans de kwaliteit van onze zorg te blijven verbeteren. <br>
            U kunt ons mailen naar <span style="color: blue">klachten@zmdh.nl</span>
        </p>
        
        <h5 class="mt-4">Klacht</h5>
        <p>Als u ontevreden bent en een suggestie is niet voldoende dan kunt een klacht indienen.</p>
        
        <h6>De eerste stap</h6>
        <p>Het kan soms zijn dat medewerkers onbewust u en of uw kind niet bieden wat u verwacht. Wij willen dit graag bespreekbaar maken en daarom is het ook van belang
            om rechtstreeks met de gene op wie de klacht betrekking heeft of de leidinggevende in gesprek te gaan. Misschien vind u dit niet zo prettig om rechtstreeks te doen,
            dan is het nog altijd mogelijk om ons digitaal of per post op de hoogste te stellen. 
        </p>
        
        <h6>contact</h6>
        <ul>
            <li>Telefonisch <br>
                U kunt ons iedere werkdag bereiken van 09:00 to 17:00 met 070-3245521
            </li>
            <li>Per post <br>
                Stuur uw post naar: ZMDH, t.a.v Klachtenafdeling, Antwoordnummer 33333, 2340 LA Den Haag
            </li>
        </ul>
        
    </div>
</section>

