<link rel="stylesheet" href="~/css/Zelfhulpgroepen.css">

<section>
    <div class="container">
        <div class="d-flex flex-row  align-items-center mt-5 mx-2">
            <h2 class="subtitle">Ons team</h2>
        </div>
        <hr>
    </div>
</section>