<link rel="stylesheet" href="~/css/Zelfhulpgroepen.css">

<style>
    img {
    border-radius: 75%;
    
    }
    
    p {
    font-size: 14px;
    }
    
</style>

<section>
    <div class="container">
        <div class="d-flex flex-row  align-items-center mt-5 mx-2">
            <h2 class="subtitle">Ons team</h2>
        </div>
        <hr>
    </div>
</section>

<section class="gegevens p-2">
    <div class="container">
        
        <div class="d-flex flex-column mx-5 justify-content-center align-items-center">
            <img class="" src="~/PNG/11.jpg" alt="foto orthopedagoog">
            <div class="info">
                <p class="text-center lead mt-2">John van der Heuvel</p>
            </div>
        </div>
        
    <div class="main-info">
        <h5>Introductie</h5>
        <p>Mijn naam is John van der Heuvel en ik ben geboren in 1969 in Tilburg. 
            Samen met mijn vrouw en drie kinderen woon ik in Rotterdam. 
            Toen ik nog heel jong was heb ik veel moeite gehad met mijn eigen ontwikkeling en daar was toen nog niet de juiste hulp voor. 
            Daarom vind ik het belangrijk om kinderen nu te helpen en begeleiden, zodat zij niet tegen dezelfde dingen aanlopen als ik. 
        </p>
            
        <h5>Mijn opleiding</h5>
        <p>
            Ik ben afgestudeerd aan de Universiteit van Utrecht. 
            Hier heb ik mijn opleiding tot Orthopedagoog afgerond. 
            Na mijn bachelor ben ik nog verder gaan studeren tot specialist in eetstoornissen.  
        </p>
            
        <h5>Over jou</h5>
        <p>
            Je komt bij mij terecht als er vermoeden bestaat dat je een eetstoornis hebt. 
            Het kan zijn dat je dit helemaal niet bij jezelf ziet en dat is ook helemaal niet erg. 
            Ik ga jou hierbij helpen. Een eetstoornis is zeer ingrijpend en heeft een grip op je alledaagse leven. 
            Sommige mensen met een eetstoornis eten te weinig, anderen juist teveel en weer anderen wisselen perioden van eetbuien af met perioden van (streng) lijnen. 
            Het is dan ook van belang dat we hiernaar kijken, zodat we weer een balans voor jou kunnen vinden. 
        </p>
            
        <h5>Wat is het plan?</h5>
        <p>
            Ik ga samen met jou kijken of jij een eetstoornis hebt doormiddel van een aantal intakegesprekken waarbij evt. ook jouw ouder(s)/verzorger(s) betrokken worden. Vanuit hier kijken we samen naar de resultaten en stellen we een behandeling voor jou om in kleine stappen te zorgen voor een balans. <br>
                
            We beginnen met een aantal gesprekken waarbij we elkaar beter leren kennen en daarna stellen we een plan van aanpak op. Ik zal niet alleen helpen met je eetgedrag, maar ja zal ook sterker in je schoenen komen te staan. <br>
                
            Je bent van harte welkom. Ik help je heel graag. Wil je eerst nog meer informatie; bel of mail me gerust. We plannen in ieder geval een intakegesprek in om te zien of wij graag met elkaar verder willen. Daarna kun je je evt.-in overleg met je ouder(s)/verzorger(s)-inschrijven voor een behandeling. 
                

        </p>
    </div>
        <hr>
    </div>
    
    </section> 


        <section class="gegevens p-2">
            <div class="container">
                <div class="d-flex flex-column mx-5 justify-content-center align-items-center">
                    <img class="" src="~/PNG/52.jpg" alt="foto orthopedagoog">
                    <div class="info">
                        <p class="text-center lead mt-2">Miranda van Dijk</p>
                    </div>
                </div>
                
                <div class="main-info">
                        <h5>Introductie</h5>
                    <p>
                        Ik ben Miranda van Dijk en ik kom uit Amsterdam. Ik ben geboren in 1981 en de jongste van vier kinderen.
                        Ik ben al bijna vijf jaar getrouwd, maar ik heb nog geen kinderen. Ik ben zeer geïnteresseerd in de psychologie van de mens en dan vooral hoe me worden wie wij zijn.
                        Onze jeugd is daar de basis van en daarom help ik jongeren graag met hun ontwikkeling.
                    </p>
                            
                        <h5>Mijn opleiding</h5>
                        <p>
                            Ik ben afgestudeerd aan de universiteit in Groningen waar ik mijn opleiding Orthopedagogiek 
                            heb afgerond met een specialisatie in de richting van ADHD-behandelingen.  
                        </p>
                            
                        <h5>Over jou</h5>
                        <p>
                            Jij hebt misschien ADHD en misschien heb je het zelf niet eens door, maar dat is niet erg. ADHD heel plat vertaald staat voor Alle Dagen Heel Druk. 
                            Het kan zijn Dat je je hierin niet kunt vinden of misschien toch wel. 
                            Wellicht heb je last van alle prikkels om je heen en heb je enorm veel energie op verkeerde momenten. 
                            Er zijn talloze dingen waar je tegen aan kunt lopen, maar ik sta klaar om je te helpen. 
                        </p>
                            
                        <h5>Wat is het plan?</h5>
                        <p>
                            Ik ga samen met jou kijken of jij ADHD hebt door een aantal gesprekken te voeren en met de hulp van opdrachten, 
                            hier kunnen ook jouw ouder(s)/verzorger(s) bij betrokken worden. Als uit de resultaten blijkt dat je ook inderdaad hulp nodig hebt, 
                            dan kijken we verder hoe we dit gaan doen en of jij met mij verder wilt gaan. 
                            
                            Als eerste gaan we samen met elkaar zitten en mag jij me alles vertellen wat er in je op komt.
                            Ik zal hier ook een aantal vragen stellen en vanaf daar kunnen we beginnen met oefeningen en kan ik je tips geven om sommige hindernissen beter aan te pakken. 
                            
                            Je bent van harte welkom. Ik help je heel graag. Wil je eerst nog meer informatie; bel of mail me gerust. We plannen in ieder 
                            geval een intakegesprek in om te zien of wij graag met elkaar verder willen. Daarna kun je je evt.-in overleg met je 
                            ouder(s)/verzorger(s)-inschrijven voor een behandeling. 

                        </p>
                    </div>
                <hr>
                
            </div>
        </section>
        
         <section class="gegevens p-2">
                    <div class="container">
                        <div class="d-flex flex-column mx-5 justify-content-center align-items-center">
                            <img class="" src="~/PNG/65.jpg" alt="foto orthopedagoog">
                            <div class="info">
                                <p class="text-center lead mt-2">Herma de Jong</p>
                            </div>
                        </div>
                        
                        <div class="main-info">
                                <h5>Introductie</h5>
                            <p>
                                Ik ben Herma de Jong en ik kom uit Middelburg. Ik ben geboren in 1971 en ben de oudste van vier. 
                                Ik woon samen met mijn man en drie kinderen in het mooie Maastricht. Ik werk al heel mijn werkzame leven met kinderen en ik doe het heel graag. 
                                Ik heb zelf ook het een en ander meegemaakt als het gaat om de ontwikkeling van het kind en daarom ben ik altijd zeer gedreven om andere ouders en hun kind te helpen, 
                                zodat ieder zich kan ontwikkelen tot de beste versie van zichzelf.
                            </p>
                                    
                                <h5>Mijn opleiding</h5>
                                <p>
                                    Ik ben afgestudeerd aan de universiteit in Amsterdam waar ik mijn opleiding Orthopedagogiek 
                                    heb afgerond met een specialisatie in de richting van Angststoornissen.   
                                </p>
                                    
                                <h5>Over jou</h5>
                                <p>
                                    Jij loopt ergens tegen aan en weet misschien niet precies wat. Het kan zijn dat je niet zo lekker gaat op school of andere plekken met veel mensen, 
                                    omdat je de confrontatie misschien eng vindt. 
                                    Je weet niet zo goed hoe je hiermee om moet gaan en wilt dit graag oplossen, 
                                    omdat het je leven een beetje overneemt. Angst is een natuurlijk verschijnsel, iedereen is wel eens bang. 
                                    Het zorgt ervoor dat je waakzaam bent en startklaar om op dingen te reageren. Het is een normale reactie van het lichaam, 
                                    maar soms kan het ook buitensporig worden waardoor je het niet meer in de hand hebt. Hiervoor kom ik in beeld om je hiervan af te helpen. 
                                </p>
                                    
                                <h5>Wat is het plan?</h5>
                                <p>
                                    Ik ga samen met jou een aantal vragen doorlopen om te kijken waar jij momenteel tegenaan loopt en waar de struikelblokken zitten. 
                                    Met de hulp van de resultaten gaan we samen een planning maken en kijken hoe we je het beste kunnen helpen en of jij mij als begeleider wilt.  
                                    
                                    We gaan vooral heel veel praten met elkaar. Niet alleen om elkaar beter te leren kennen,
                                    maar ook om uit te zoeken waar het probleem zit. Met tips en oefeningen komen we verder en kijken we welke dingen helpen en gaan daarmee verder. 
                                    We gaan het niet te ingewikkeld maken, maar onze best doen om jouw grootste obstakels te overwinnen
                                    
                                    Je bent van harte welkom. Ik help je heel graag. Wil je eerst nog meer informatie; bel of mail me gerust. We plannen in ieder 
                                    geval een intakegesprek in om te zien of wij graag met elkaar verder willen. Daarna kun je je evt.-in overleg met je 
                                    ouder(s)/verzorger(s)-inschrijven voor een behandeling. 
 
        
                                </p>
                            </div>
                        <hr>
                        
                    </div>
                </section>
                
 <section class="gegevens p-2">
                    <div class="container">
                        <div class="d-flex flex-column mx-5 justify-content-center align-items-center">
                            <img class="" src="~/PNG/83.jpg" alt="foto orthopedagoog">
                            <div class="info">
                                <p class="text-center lead mt-2">Jan de Groot</p>
                            </div>
                        </div>
                        
                        <div class="main-info">
                                <h5>Introductie</h5>
                            <p>
                                Ik ben Jan de Groot en ik ben geboren in Utrecht in 1975. Ik ben al tien jaar getrouwd en ik heb twee kinderen. 
                                In mijn kringen ben ik veel in contact gekomen met mensen die ook ADD hebben. Zij hadden nooit echt de hulp gekregen die ze nodig hadden waardoor het moeilijk was om mee om te gaan. 
                                Daarom vind ik het belangrijk om de kinderen van nu te kunnen helpen, zodat zij hier niet mee belast worden. 
                            </p>
                                    
                                <h5>Mijn opleiding</h5>
                                <p>
                                    Ik ben afgestudeerd aan de universiteit in Utrecht waar ik mijn opleiding Orthopedagogiek heb afgerond met een specialisatie in de richting van ADD-behandeling.  
                                </p>
                                    
                                <h5>Over jou</h5>
                                <p>
                                    Als het goed is bestaat er een vermoeden dat jij ADD hebt. Vaak bestaat nog de verwarring met ADHD, dat iets heel anders is. 
                                    Jij hebt misschien problemen met concentratie en vaak moeite om een beetje rust in je hoofd te krijgen. 
                                    Hierdoor gaat het misschien moeilijker op school en raak je snel afgeleid. Er zijn zo misschien veel meer of minder dingen waar jij tegen aan loopt. 
                                    Het gaat erom dat je geholpen wordt en hier beter mee om kunt gaan. 
                                </p>
                                    
                                <h5>Wat is het plan?</h5>
                                <p>
                                    Ik ga samen met jou een aantal testen doorlopen om te kijken waar jij momenteel tegenaan loopt en waar de struikelblokken zitten. 
                                    Met de hulp van de resultaten gaan we samen een planning maken en kijken hoe we je het beste kunnen helpen en of jij mij als begeleider wilt.  
                                    
                                    We gaan beginnen met een aantal oefeningen en aan de hand daarvan gaan we kijken wat makkelijk of moeilijk voor je is. 
                                    Zo kunnen precies op jouw tempo gaan werken en gaat het niet te snel. 
                                    
                                    Je bent van harte welkom. Ik help je heel graag. Wil je eerst nog meer informatie; bel of mail me gerust. We plannen in ieder 
                                    geval een intakegesprek in om te zien of wij graag met elkaar verder willen. Daarna kun je je evt.-in overleg met je 
                                    ouder(s)/verzorger(s)-inschrijven voor een behandeling. 
 
 
        
                                </p>
                            </div>
                        
                        
                    </div>
                </section>

        
   