<head>
 <link rel="stylesheet" href="~/css/Style.css" />
</head>


<section class="gegevens text-center p-5">
       <div class="container">
           <div class="titles d-flex flex-row">
               <h2>Account</h2>
               <h2 class="title2">Gegegevens ></h2>
               <p class="subtitle">A.Robbinsons</p>
           </div>
           <hr>

           <div class="d-flex flex-row">
               <img src="~/PNG/52.jpg" alt="foto orthopedagoog">
               <div class="info">
                   <p>Voornaam : Lisa</p>
                   <p>Achternaam : de Vogel</p>
               </div>

           </div>
       </div>
   </section> 

   <section class="clienten p-5">
       <div class="container">
        <div class="titles d-flex flex-row">
            <h2>Account</h2>
            <h2 class="title2">Cliënten</h2>
        </div>
        <hr>
       </div>

       <section class="table">
        <div class="container">
            <table class="table table-sm-responsive table-hover">
                <thead>
                  <tr>
                    <th scope="col">Naam</th>
                    <th scope="col">Leeftijd</th>
                    <th scope="col">Huisarts Dossier</th>
                    <th scope="col">Overzichts Dossier</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>John</td>
                    <td>12</td>
                    <td>-</td>
                    <td>Open</td>
                  </tr>

                  <tr>
                    <td>Bob</td>
                    <td>11</td>
                    <td>Open</td>
                    <td>Open</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </section>
   </section>