


<link rel="stylesheet" href="~/css/Zelfhulpgroepen.css">

<section>
    <div class="container">
        <div class="d-flex flex-row  align-items-center mt-5 mx-2">
            <h2 class="subtitle">Privacy verklaring</h2>
        </div>
        <hr>
    </div>
</section>

<section>
    <div class="container">
        <embed src="~/privacy_statement_18-01-2022.pdf" type="" width="1116px" height="700">
    </div>
</section>