@model bool

    <div class="container mt-5">
        @if(Model) {
            <a>Profiel is aangemaakt!</a><br>
            <a href="index">Ga terug</a>
        } else {
            <a>Er is iets mis gegaan.</a><br>
            <a href="index">Ga terug</a>
        }
    </div>

