@model ApplicationUser;

@{
//TODO : voeg label namen toe

}
@section Scripts
{
  <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
  <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
<div class="container-fluid" >
  
  <div class="row align-items-end">
    <h1 class="col-md-auto" >Administratie</h1>
    <div class="rectangle"></div>
    <h2 class="col-md-auto ">Medewerker inschrijven</h2>
  </div>
  
    <div class="row">
    <div class ="uLine"></div>
    </div>
  
  <form class="col" method="post">
    <div class="row align-items-start">
      <div class="col-lg-4">

        <div class=" row"style="margin-top: 10px">
          <input asp-for="FirstName" class="form-control" placeholder="Voornaam">
          <span asp-validation-for="FirstName"></span>
        </div>

        <div class=" row"style="margin-top: 10px">
          <input asp-for="LastName" class="form-control" placeholder="Achternaam">
          <span asp-validation-for="LastName"></span>
        </div>

        <div class=" row"style="margin-top: 10px">
          <input asp-for="Email" class="form-control" placeholder="Email">
          <span asp-validation-for="Email"></span>
        </div>
        
                <div class=" row"style="margin-top: 10px">
                  <input asp-for="PhoneNumber" class="form-control" placeholder="Telefoonnummer">
                  <span asp-validation-for="PhoneNumber"></span>
                </div>

        <div class=" row"style="margin-top: 10px">
          <input asp-for="DateOfBirth" class="form-control" placeholder="Geboortedatum (dd/mm/yyyy)">
          <span asp-validation-for="DateOfBirth"></span>
        </div>

        <div class="col-md-6 row" style="margin-top: 10px" style="min-width: 92px" >
          <button class="btn btn-success shadow-none" type="submit" style="background-color: #BBE1C3">Inschrijven</button>
        </div>
      </div>
      
      <div class="col">
        <div asp-validation-summary="All"></div>
      </div>
      
    </div>
  </form>
</div>



