@model WebApp.Areas.Identity.Pages.Account.RegisterModel;

@{
//TODO : voeg label namen toe

}
@section Scripts
{
  <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
  <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
<div class="container-fluid" >
  
  <div class="row align-items-end">
    <h1 class="col-md-auto" >Administratie</h1>
    <div class="rectangle"></div>
    <h2 class="col-md-auto ">Medewerker inschrijven</h2>
  </div>
  
    <div class="row">
    <div class ="uLine"></div>
    </div>
  
  <div class="row">
      <div class="col-md-4">
          <form class="col" method="post">
              <h4>Create a new account.</h4>
              <hr />
              <div asp-validation-summary="All" class="text-danger"></div>
              
              <div class="form-group">
                  <label asp-for="Input.Email"></label>
                  <input asp-for="Input.Email" class="form-control" />
                  <span asp-validation-for="Input.Email" class="text-danger"></span>
              </div>

              <div class="form-group">
                  <label asp-for="Input.Password"></label>
                  <input asp-for="Input.Password" class="form-control" />
                  <span asp-validation-for="Input.Password" class="text-danger"></span>
              </div>
              
              <div class="form-group">
                  <label asp-for="Input.ConfirmPassword"></label>
                  <input asp-for="Input.ConfirmPassword" class="form-control" />
                  <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
              </div>
              
              <button type="submit" class="btn btn-primary">Aanmelden</button>
          </form>
        </div>
      </div>
  
</div>



