
/* css voor homepage */ 

.title-left {
    border-left: 7px solid rgb(164, 223, 170);
    padding-left: 15px;
}

.title-right {
    border-right: 7px solid rgb(164, 223, 170);
    padding-right: 15px;
    text-align: end;
}

.text-two {
    margin-left: 3em;
}

.container-one{
    background-color: rgba(230, 227, 227, 0.479);
}

.container-three{
    background-color: rgba(230, 227, 227, 0.479);
}

#firstimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

#secondimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 2em;
    box-shadow: 10px 10px rgb(94, 94, 94);
}

.fear {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
    border-radius: 20px;

}

#spec {
    border-radius: 75px;
    margin-bottom: 15px;
}

#spec-title{
    margin-left: 3em;
}

#inschrijven {
    text-align: justify;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

#bezoeken {
    margin-left: auto;
    margin-right: auto;
}

#tijden {
    margin-right: auto;
}


